langchain==0.0.337
langchain-core==0.1.21
langchain-community==0.1.34
langchain-embeddings==0.0.19
langchain-llms==0.0.20

transformers==4.33.2
torch==2.2.2
huggingface-hub==0.18.1
hf-transfer==0.1.6
sentence-transformers==2.2.2

faiss-cpu==1.7.4
pinecone-client==2.1.0
weaviate-client==3.20.0

plotly==5.16.0
networkx==3.2

openai==1.32.0
google-generativeai==0.13.0
